@import url('https://fonts.googleapis.com/css2?family=Ingrid+Darling&family=Open+Sans&family=Poppins:ital,wght@0,400;1,500;1,800&display=swap');

*{
    font-family: Poppins;
    text-align: center;
    word-wrap: break-word;
}

body{
    overflow-x: hidden;
}

.homepage{
    min-height: 80vh !important;
}

.homepage, .secondpage, .mainquizpage{
    width: 100vw;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnbackgroundGreen{
    background-color: #55D209;
    transition: all .3s;
    border: none;
    font-size: larger;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 30%);
}

.btnbackgroundGreen:hover{
    background-color: rgb(60, 154, 1)
}

.headingofsecondpage{
    font-size: 45px !important;
}

.olofoptions{
    width: 100%;
}

.divhp{
    width: 100%;
    text-align: left;

}

.divhp label{
    width: 100%;
}

.divhp label li{
    width: 100%;
    text-align: left;
}

.answerli{
    background-color: rgba(255, 255,255, 6%);
    transition: all .5s;
    border-radius: 8px;
}

.answerli:hover{
    background-color: rgba(255, 255,255, 10%);
}

.backgroundtrue{
    background-color: rgba(255, 255,255, 30%) !important;
}